<div ng-controller="InfoCtrl">
	<div class="row marginTop33">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ul class="info">
				<li>
					<a href="http://www.makerfaireorlando.com">
						<button class="btn btn-primary btn-lg">MakerFaire<i class="icon-cog"></i>rlando.com</button>
					</a></li>
				<li>
					<a href="http://www.google.com/maps/preview#!q=Orlando+Science+Center+777+E+Princeton+St+Orlando%2C+FL+32803&data=!4m15!2m14!1m13!1s0x88e77a9097ea66a3%3A0xb505a1f1f4cd84fc!3m8!1m3!1d2847!2d-81.3678336!3d28.57218!3m2!1i1295!2i624!4f13.1!4m2!3d28.57218!4d-81.367834">
						<button class="btn btn-primary btn-lg">D<i class="icon-map-marker"></i>rections</button>
					</a></li>
				<li>
					<a href="http://plus.google.com/117567997621098640425">
						<button class="btn btn-primary btn-lg"><i class="icon-google-plus"></i>oogle plus</button>
					</a></li>
				<li>
					<a href="http://www.facebook.com/orlandominimakerfaire">
						<button class="btn btn-primary btn-lg"><i class="icon-facebook"></i>acebook</button>
					</a></li>
				<li><a href="http://twitter.com/orlmakerfaire">
						<button class="btn btn-primary btn-lg"><i class="icon-twitter"></i> twitter</button>
					</a></li>
			</ul>
		</div>
	</div>
</div>
