<div ng-controller="MakersCtrl" >
    <div class="bump">
        <p>Filter by Maker!</p>
        <input type="text" ng-model="maker" />
    </div>
    <div class="card clearfix" ng-repeat="accepted in accepteds | filter:maker | orderBy:'project_name'"> 
        <div class="right">
            <img class="makerphoto"src="{{ accepted.photo_link }}"/>
        </div>
        <div class="left">
            <h2>{{ accepted.project_name }}</h2>
            <p> {{ accepted.description}} </p>
            <cite> {{ accepted.category }} </cite>
        </div>
        
    </div>
</div>
