<div class="container mapContainer">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img ng-src="assets/OMMF_Level1.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img ng-src="assets/OMMF_Level2.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img ng-src="assets/OMMF_Level3.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img ng-src="assets/OMMF_Level4.jpg" />
    </div>
  </div>
</div>
