<div ng-controller="ScheduleCtrl" >
  <div class="row entriesRow boxShadow" ng-repeat="entry in entries | filter:event">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center timeLeft">
      <div class="row">
        <p class="timeText {{ entry.custom_class }}" ng-class="{{ entry.custom_class }}">
          <i class="glyphicon glyphicon-time"></i>
          {{ entries.getTime(entry.gd$when[0].startTime) }}
          -
          {{ entries.getTime(entry.gd$when[0].endTime) }}
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left detailsRight">
      
        
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h2>
                {{ entry.title.$t }}
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              {{ entry.content.$t }}
            </div>
          </div>
        
      
    </div>
  </div>
  <!--
    <div class="bump">
        <p>Filter by Event! <span style="color:red">not working</span></p>
        <input type="text" ng-model="event" />
    </div>
    <div class="calendarcard clearfix" ng-repeat="entry in entries | filter:event"> 
        <div class="right">
          <h2>{{ entry.title.$t }}</h2>
            <p>{{ entry.content.$t }}</p>
        </div>
        <div class="left">
          <div class="timestart">
            {{ entries.convertTime(entry.gd$when[0].startTime) }}
          </div>

          <div class="timeend">
            {{ entries.convertTime(entry.gd$when[0].endTime) }}
          </div>
        </div>
        
    </div>
    <div class="container">
      <iframe src="https://www.google.com/calendar/embed?title=Orlando%20Mini%20Maker%20Faire%202013&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=orlandominimakerfaire.com_vffhp2b6oi3kiu3trnoo1502hg%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style=" border-width:0 " width="auto" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

    -->
</div>
